

*{
    padding: 0;
    margin: 0;
}

p{
    padding-bottom: 10px;
}

h1{
    padding-bottom: 20px;
}

header{
    background-color: greenyellow;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 2rem;
}
footer{
    display: flex;
    background-color: greenyellow;
    color:  black;
    font-size: 15px;
    text-align: center;
    align-items: center;
height: 100px;
  padding: 3px;
  justify-content: space-between;
}
main{
    background-color: black;
    color:white;
}

ul{
    display: flex;
    flex-direction: row;
}
li{
    margin-left: 2rem;
    list-style: none;
}
article{
    max-width: 600px;
}
main{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
img{
    display: block;
    margin-left: auto;
  margin-right: auto;
  width: 80%;
}
span{
    align-items: center;
    padding: 10px;
}

img{
    padding-bottom: 10px;
    padding-bottom: 2px;
}

h3{
    
    padding-bottom: 10px;
}